body {
	padding:1em;
	background:$white;
}

html {
	background:none;
}

ul, ol {
	margin-left:1.5em;
}

li {
	margin-bottom:1.5em;

	:last-child {
		margin-bottom: 0;
	}
}

h1,h2,h3,h4,h5,h6 {
	font-family:$title-family;
}