.slick {
	margin-bottom:1.677em;
	display:none;

	img {
		@include breakpoint(tablet) {
	        width: 90%;
	        margin: 0 auto;
	        display: block;
	      }
	}
	&.bookstrip {
		img {
			margin:0;
			width:inherit;
			max-width:162px;
			height: auto;
		}
	}

	.slick-prev, .slick-next {
		font-size: 0;
		line-height: 0;
		position: absolute;
		top: 50%;
		display: block;
		width: 3rem;
		height: 3rem;
		margin-top: -1.5rem;
		padding: 0;
		cursor: pointer;
		color: transparent;
		border: none;
		outline: none;
		background: transparent;

		&:before, &:after {
			font-size: 3rem;
			font-family: 'FontAwesome';
			line-height: 1;
			color:$red;
			
		}
	}

	.slick-prev {
      right:-3.5rem;
      left:auto;
     
      &:before {
        content:'\f054';
        color:$red;
        font-family: 'FontAwesome';
    	}
    }

  	
  	.slick-next {
      left:-3.5rem;
      right:auto;
      
      &:after {
      	content:'\f053';
        color:$red;
        font-family: 'FontAwesome';    
    	}
    }
    
}

.overlay {
  background-color: rgba(4, 93, 122, 0.7);
  display: block;
  padding:1em;
  position:absolute;
  bottom: 2em;
  width:100%;
  color:$white;
  text-shadow:2px 2px 2px $black;
  text-align: right;
  transition: all 1s ease;

  &.red {
    background-color: rgba(43, 0, 17, 0.8);
  }

  &.white {
    background-color: rgba(255, 255, 255, 0.8);
    color:$black;
    text-shadow: 1px 1px 1px $blue;
  }

  &.blue {
  	.button {
  		background-color:$red;
  	}
  }

  h3, p {
    display: inline-block;
    width:70%;
    vertical-align: middle;
    margin-bottom: 0;
  }

  h3 {
    font-size:2em;
  }

  .button {
    max-width: 20%;
    font-size:1.2em;
    text-transform:uppercase;
    display: inline-block;
    margin:.3em 0 0 .677em;
  }
}

.centerfeature {
	font-size:1.2em;
	color:$white;

	.slick-slide {

		padding:1em;
		background-color:$dark-red;
		border-radius:.5em;
		 -webkit-transition: all 0.6s ease; 
		          transition: all 0.6s ease; 

		img {
			width:200px;
			max-width: 200px;
			border:1px solid $white;
		}

		.button {
			background-color: $light-red;
			font-size: 1.2em;
		}
	
	
		h3 {
			font-size: 1.5em;
			display: inline-block;
			font-weight: 300;
		}

		&.centered {
			text-align: center;

			img {
				margin:0 auto 1em;
			}

			.text {
				width:90%;
				margin:0 auto;

				span {
					display: block;

				}
			}
		}

		&.imgleft {
			img {
				float:left;
				width: 20%;
			}

			.text {
				width: 70%;
				float:left;

			}
		}
	}

	.slick-slide.slick-active {
	  -webkit-transform: scale(.9); 
	      -ms-transform: scale(.9); 
	          transform: scale(.9); 
	}



.slick-center.slick-active.slick-slide  {
	-webkit-transform: scale(1); 
	      -ms-transform: scale(1); 
	          transform: scale(1); 
	  
	}
	
}



.count-3 {
	.slick-slide {
		margin: 0 .5em;
	
	  -webkit-transform: scale(1); 
	      -ms-transform: scale(1); 
	          transform: scale(1); 
	}



	.slick-center.slick-slide  {
	-webkit-transform: scale(.9); 
	      -ms-transform: scale(.9); 
	          transform: scale(.9); 
	  
	}
}