/*** WOOCOMMERCE STYLES ***/

.woocommerce {
	&.single-product {
		div.product  {
			div.images {
				margin-bottom: 0;
				float:right !important;
				width: auto !important;
				margin-left:1em;
			}	

			div.summary {
				float:none !important;
				width:100% !important;
			}
		}



		
		
	}
}