#wpadminbar .quicklinks ul {
    overflow: visible !important;
}

html {
	
}

body {
	height:100%;
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
  	-webkit-font-smoothing: antialiased;
  	background-color:transparent;
  	background:url('../images/dark_stripes.png') $black repeat;

}

.hide {
	display:none;
}

.wrap {
	width: 92%;
	margin: 0 auto;


	@include breakpoint(tablet) {
		max-width: 760px;
	}

	@include breakpoint(laptop) {
		max-width: 1030px;
	}

	@include breakpoint(tv) {
		max-width: 1300px;
	}
}

#inner-header {
	position:relative;
	z-index:1000;
	padding: 0em 0;
	background: -moz-linear-gradient(left,  rgba(17,17,131,1) 0%, rgba(14,13,101,0.82) 23%, rgba(13,12,93,0) 29%, rgba(2,1,1,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(17,17,131,1)), color-stop(23%,rgba(14,13,101,0.82)), color-stop(29%,rgba(13,12,93,0)), color-stop(100%,rgba(2,1,1,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(17,17,131,1) 0%,rgba(14,13,101,0.82) 23%,rgba(13,12,93,0) 29%,rgba(2,1,1,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(17,17,131,1) 0%,rgba(14,13,101,0.82) 23%,rgba(13,12,93,0) 29%,rgba(2,1,1,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(17,17,131,1) 0%,rgba(14,13,101,0.82) 23%,rgba(13,12,93,0) 29%,rgba(2,1,1,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(17,17,131,1) 0%,rgba(14,13,101,0.82) 23%,rgba(13,12,93,0) 29%,rgba(2,1,1,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111183', endColorstr='#00020101',GradientType=1 ); /* IE6-9 */

	.wrap {
		background-color:transparent;
		position:relative;
	}

}
#inner-content {
	padding:1.677em 0;
}

#content {
	background-color:transparent;
	position:relative;
	margin-top:150px;

	.home & {
		height:100%;
		width:100%;
		/* background:url('../images/owl.jpg') transparent no-repeat; */
	}
}

.main-content {
	background-color:$white;
	padding: 1.5em;

	.home & {
		background-color: transparent;
	}
}

.header {
	background-color: transparent;
	color:$white;
	padding:0;
	position:fixed;
	top:0;
	width:100%;
	height:130px;
	z-index:10000;
background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.3) 64%, rgba(0,0,0,0.1) 80%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(64%,rgba(0,0,0,0.3)), color-stop(80%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.3) 64%,rgba(0,0,0,0.1) 80%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.3) 64%,rgba(0,0,0,0.1) 80%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.3) 64%,rgba(0,0,0,0.1) 80%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.3) 64%,rgba(0,0,0,0.1) 80%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	
}

.site-description {
	display:inline-block;
	float:right;
	padding:1em 0;
	font-style: italic;
	font-size: 1.2em;

	.home & {
		display: none;
	}
}

#logo {
	margin: 0;
	color: $white;
	border: none;
	position:relative;
	z-index:100;
	background-color:$purple;
	display:inline-block;
	padding:.75em 0 .75em 0;

	&:after {
		content: '';
		display: inline-block;
		position:absolute;
		right:-72px;
		top:0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 66px 72px 0 0;
		border-color: #111183 transparent transparent transparent;
	}

	img {
		padding:0;
		margin:0;
	}
}

/*********************
LINK STYLES
*********************/

a, a:visited {
  color: $link-color;
  text-decoration: none;
  border-bottom:1px solid $link-color;

  /* on hover */
  &:hover, &:focus {
    color: $link-hover;
  }

  /* on click */
  &:active {

  }

  /* mobile tap color */
  &:link {

    -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
  }

  &.imglink {
  	 border: none;
  }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  text-rendering: optimizelegibility;
  font-weight: 500;
  margin:0 0 .675em 0;
  font-family: $title-family;
  
  a {
    text-decoration: none;
  }
}

h1, .h1 {
  font-size: 2.25em;
  line-height: 1.333em;
}

h2, .h2 {
  font-size: 1.5em;
  line-height: 1.4em;
}

h3, .h3 {
  font-size: 1.2em;
}

h4, .h4 {
  font-size: 1.1em;
}

h5, .h5 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h6 {
  font-size: 1em;
}

.single-title,
.page-title,
.entry-title {
	margin: 0 0 .5em 0;
}

.page-title, .archive-title, .single-title {
	font-size:2.5em;
}

.entry-title {
	font-size:2.3em;

	a {
		border-bottom:none;
	}
}

p {
	margin: 0 0 1.677em;
}

.searchform {
	label {

	}
	input {
		display: inline-block;
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

.hentry {
	background-color: transparent;
	margin-bottom: 1.5em;


	footer {
		

		p {
			margin: 0;
		}
	}

} /* end .hentry */



/* post meta */
.byline {
	color: $meta-color;
	font-style: italic;
	margin: 0;

	time {}
}



/* entry content */
.entry-content {


	.home & {
		padding: 2em;
		margin-left:-2em;
		margin-top:15%;
		width: 76%;
		font-size:1.3em;
		color:$white;
		border: 1px solid $black;
		background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.51) 0%, rgba(0,0,0,0.62) 50%, rgba(0,0,0,0.51) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.51)), color-stop(50%,rgba(0,0,0,0.62)), color-stop(100%,rgba(0,0,0,0.51))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.51) 0%,rgba(0,0,0,0.62) 50%,rgba(0,0,0,0.51) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.51) 0%,rgba(0,0,0,0.62) 50%,rgba(0,0,0,0.51) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.51) 0%,rgba(0,0,0,0.62) 50%,rgba(0,0,0,0.51) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(0,0,0,0.51) 0%,rgba(0,0,0,0.62) 50%,rgba(0,0,0,0.51) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82000000', endColorstr='#82000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		
		:last-child {
			margin-bottom: 0;
			padding-bottom:0;
		}
	}

	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;

		caption {
			margin: 0 0 7px;
			font-size: 0.75em;
			color: $meta-color;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	tr {
		border-bottom: 1px solid $gray;

		&:nth-child(even) {
			background-color: $light-gray;
		}
	}

	td {
		padding: 7px;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: $black;
		color: $light-gray;
		font-size: 0.9em;
		padding: 1.5em;
		margin: 0 0 1.5em;
		border-radius: 3px;
	}

} /* end .entry-content */

#breadcrumbs {
	font-size:.8em;
	margin-bottom:.5em;
}

blockquote {
	margin: 0 0 1.5em 0.75em;
	padding: 0 0 0 0.75em;
	border-left: 3px solid $blue;
	font-style: italic;
	color: $meta-color;

	&:before {}

}

img {
	margin: 0 0 1.5em 0;
	max-width: 100%;
	height: auto;
}

/*
Align all images center for smallest screens
*/
.alignleft, img.alignleft, 
.alignright, img.alignright,
.aligncenter, img.aligncenter { 
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;

	@include breakpoint(tablet) {
		
		margin-bottom: .677em;
	}
}

.alignleft, img.alignleft {
	@include breakpoint(tablet) {
		margin-right: 1.5em;
		float: left;
		display: inline;
	}
}

.alignright, img.alignright {
	@include breakpoint(tablet) {
		margin-left: 1.5em;
		float: right;
		display: inline;
	}
}


.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	width:100%;
	overflow: hidden;
	margin-bottom:1.677em;

	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&.fullback {
		height: 100%;
		width: 100%;
		position: fixed; 
		top: 40px;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1000;
	}
}

.wp-caption, .html5-captions .wp-caption {
	max-width: 100%;
	background: $light-gray;
	padding: .2em;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

} /* end .wp-caption */

.wp-caption-text {
	font-size: 0.85em;
	margin: .2em 0 .3em;
	text-align: center;
	font-style:italic;
}

/* image gallery styles */
.gallery {

} 

.gallery-item {
	display:inline-block;
	margin:0 2% 1em 0;
	width:100%;
	vertical-align:top;
	text-align:center;

	img {
		margin-bottom: 0;
	}

	@include breakpoint(tablet) {
		width:49%;
			&:nth-child(2n+2) {
			margin-right: 0;
		}
	}
}

/* gallery caption styles */
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

// the tag output
.tags {
margin: 0;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
.pagination{
text-align: center;

ul {
  display: inline-block;
  background-color: $white;
  white-space: nowrap;
  padding: 0;
  clear: both;
  border-radius: 3px;
}

li {
  padding: 0;
  margin: 0;
  float: left;
  display: inline;
  overflow: hidden;
  border-right: 1px solid $gray;
}

a, span {
  margin: 0;
  text-decoration: none;
  padding: 0;
  line-height: 1em;
  font-size: 1em;
  font-weight: normal;
  padding: 0.75em;
  min-width: 1em;
  display: block;
  color: $blue;

  &:hover, &:focus {
  	background-color: $blue;
  	color: $white;
  }
}

.current{
	cursor: default;
	color: $text-color;

	&:hover, &:focus {
		background-color: $white;
		color: $text-color;
	}
}

} /* end .bones_page_navi */

/* fallback previous & next links */
.wp-prev-next {

	ul {}

	.prev-link {
		float: left;
	}

	.next-link {
		float: right;
	}

} /* end .wp-prev-next */


/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: transparent;
	color: $light-gray;
	padding:1em 0;
	font-size:.9em;

	p {
		margin-bottom: .677em;
	}

	a, a:visited {
		color:$gray;
		border-color: $gray;
	}
}

.organization-address, .copyright {
	text-align: center;
	margin:0 auto .5em;
	
	@include breakpoint(laptop) {
		margin:0 0 .5em;
		text-align: left;
		display:inline-block;

		& > div {
			display:inline-block;
		}
	}
}

.contact {
	margin-top:.5em;

	.item {
		display: inline-block;
		margin-right: 1em;
		padding-right: 1em;
		border-right: 1px solid $gray;
		line-height: 1em;

		&:last-of-type {
			border-right:none;
			margin-right:0;
			padding-right:0;
		}
	}
}

