/******************************************************************
BUTTONS
Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  color: $white;
  font-size: 0.9em;
  font-weight: normal;
  padding: .2em .5em .3em;
  border: 0;
  cursor: pointer;
  line-height: 1.5em;
  vertical-align: middle;
  border-radius:.1em;
  box-shadow:1px 1px 1px $light-black;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus, &:visited {
    color: $white;
    text-decoration: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active
  

} // end .button

.button, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  @extend %btn; // here we load the btn defaults
  background-color: $link-color;

  &:hover,
  &:focus {
    background-color: lighten($link-color, 8%);
    color:$white;
  } // end hover

  &:active {
    background-color: darken($link-color, 5%);
  } // end active

  & > a, & > a:visited {
    border: none;
    color:$white;
  }

} // end blue button

.button.orange, .woocommerce a.button.orange, .woocommerce button.button.orange, .woocommerce input.button.orange {
  @extend %btn; // here we load the btn defaults
  background-color: $light-orange;

  &:hover,
  &:focus {
    background-color: $orange;
    color:$white;
  } // end hover

  &:active {
    background-color: $dark-orange;
  } // end active

  & > a, & > a:visited {
    border: none;
    color:$white;
  }
}