/******************************************************************
Typography
******************************************************************/

$sans-serif:        "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

$title-family:      $sans-serif;